<ion-view view-title="Activities">
		
		<ion-content>
			<div><br><br><Br><br></div>
		<center><button class="button icon ion-ios-plus-outline" ng-click="addClass()"></button></center>
		<div class="list card">
		<div class="list card">
		  <a href="#/app/grade" class="item item-icon-left">
		    <!-- <i class="icon ion-home"></i>
 -->		    <center>Quiz 1</center>
		  </a>
		</div>
		<div class="list card">
		  <a href="#" class="item item-icon-left">
		    <!-- <i class="icon ion-ios-telephone"></i> -->
		    <center>Quiz 2</center>
		  </a>
		</div>
		<div class="list card">
		  <a href="#" class="item item-icon-left">
		    <!-- <i class="icon ion-wifi"></i> -->
		   <center>Quiz 3</center>
		  </a>
		</div>
		<div class="list card">
		  <a href="#" class="item item-icon-left">
		    <!-- <i class="icon ion-card"></i>
 -->		    <center>Quiz 5</center>
		  </a>
		</div>
		</div>

	</ion-content>
		
  <!-- <ion-content>
	  <div>bewibe</div>
	  <h1>This is Home</h1>
  </ion-content> -->
	  <div class="tabs tabs-icon-only">
	  <a class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-star"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-gear-a"></i>
	  </a>
	</div>
</ion-view>
