<ion-view view-title="Classes">
	<div><div><br></div><br></div>
		<div class="list">
			<a class="item item-avatar" href="#">
			<img src="img/koala.jpg">
			<h2>Helena Briones</h2>
			<p>Pyshcology Major</p>
			</a>
		</div>
		
		<ion-content>
			<div><br><br><Br><br></div>
		<center><button class="button icon ion-ios-plus-outline" ng-click="addClass()"></button></center>
		<div class="list card">
			<div class="list card">
			  <a href="#/app/section" class="item item-icon-left">
			    <!-- <i class="icon ion-home"></i>
	 -->		    <center>Psychology - IT3R4</center>
			  </a>
			</div>
			<div class="list card">
			  <a href="#" class="item item-icon-left">
			    <!-- <i class="icon ion-ios-telephone"></i> -->
			    <center>Psychology - TCM3K3</center>
			  </a>
			</div>
			<div class="list card">
			  <a href="#" class="item item-icon-left">
			    <!-- <i class="icon ion-wifi"></i> -->
			   <center>Philosophy - IT2R1</center>
			  </a>
			</div>
			<div class="list card">
			  <a href="#" class="item item-icon-left">
			    <!-- <i class="icon ion-card"></i>
	 -->		    <center>Enter card information</center>
			  </a>
			</div>
		</div>

	</ion-content>
		
  <!-- <ion-content>
	  <div>bewibe</div>
	  <h1>This is Home</h1>
  </ion-content> -->
	  <div class="tabs tabs-icon-only">
	  <a class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-star"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-gear-a"></i>
	  </a>
	</div>
</ion-view>
