<ion-view view-title="Psychology - IT3R4">
	<ion-content>
	<div class="list card">

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/koala.jpg">
		     <label class="item item-input">
			    <span class="input-label">Briones, Helena</span>
			    <input type="text">
			  </label>
		  </div>
		</div>

		<button class="button button-full button-royal">Save</button>
		
	</div>



	</ion-content>
	<!--  -->
  <!-- <ion-content>
	  <div>bewibe</div>
	  <h1>This is Home</h1>
  </ion-content> -->
	  <div class="tabs tabs-icon-only">
	  <a class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a class="tab-item" href="#/app/activities">
	    <i class="icon ion-star"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-gear-a"></i>
	  </a>
	</div>
</ion-view>
